/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
  font-family: "Rubik", Helvetica, Arial, sans-serif;
  color: #333;
}

.button {
  border-radius: 100px;
  color: #332100;
  border-color: #332100;
}

.button:hover,
.button:focus {
  color: #FFF;
  background-color: #332100;
  border-color: #332100;
}

.button.button-primary {
  color: #FFF;
  background-color: #0047B3;
  border-color: #0047B3;
}

.button.button-primary:hover,
.button.button-primary:focus {
  color: #FFF;
  background-color: #0065FF;
  border-color: #0065FF;
}

a {
  color: #0047B3;
}

a:hover {
  color: #0065FF;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 4rem 0;
  text-align: center;
}

.section-heading,
.section-description {
  margin-bottom: 3rem;
}

.hero {
  background-image: url('../images/element-cloud.png');
  background-size: cover;
  color: #332100;
}

.hero img {
  max-width: 50%;
  margin-bottom: 1.5rem;
}

.hero h1 {
  color: #0047B3;
}

.hero-link {
  padding: 1.5rem;
}

.socialmedia h2 {
  color: #332100;
}

.socialmedia,
.footer {
  background-color: #FFF;
  color: #332100;
  border-top: 1px solid rgba(255, 170, 0, 0.2);
}



/* Responsive
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 4rem 0;
  }
  .hero img {
    max-width: 30%;
  }

}

/* Bigger than 750 */
@media (min-width: 750px) {

  .section {
    padding: 6rem 0;
  }

  .hero img {
    max-width: 20%;
  }

  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 8rem 0;
  }

}